
.notification{
    border-radius: 100% !important;
    min-width: 1.8rem !important;
}

.cabecalho {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: 0.5rem 0 1rem 0;
    border-radius: 2px;
    background-color:#1e88e5;
}

.fileBtn {
    background-color: #1e88e5;
    border-radius: 100% !important;
    min-width: 5rem !important;
}

.btnCad{
    border-radius: 10% !important;
}